article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap;word-wrap:break-word}q{quotes:\201C \201D \2018 \2019}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0;max-width:100%}svg:not(:root){overflow:hidden}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}body,figure{margin:0}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}h1,h2,h3,h4,h5,h6,p,ul,li{padding:0;margin:0}p,a,li{line-height:1.6}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Poppins:400,500');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$fontTitle: 'Playfair Display', serif;
$fontMain: 'Poppins', sans-serif;

$lightBlue: #00ced1;
$darkBlue: #009cbf;
$black: #101010;
$yellow: #f9c637;
$yellowHover: #f8bf20;
$blueGradient: linear-gradient(to top, $darkBlue, $lightBlue);

$boxShadow: 0 5px 15px rgba(0,0,0,0.1);
$transition: all 0.2s ease;

////////////////////
// General
////////////////////

body {
    font-family: $fontMain;
    color: $black;
}

h1, h2, h3, h4, h5 {
    font-family: $fontTitle;
    font-weight: 700;
}

h2 {
    font-size: 40px;
}

p, li {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

a {
    font-family: inherit;
    text-decoration: none;
    transition: $transition;
}

.container {
    padding: 6%;
    max-width: 1400px;
    margin: auto;
}

section {
    outline: none;
}

////////////////////
// Buttons
////////////////////

.btn {
    display: inline-block;
    padding: 8px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;

    &:hover,
    &:focus {
        box-shadow: $boxShadow;
        transform: translateY(-2px);
        background: $yellowHover;
    }
}

.btnYellow {
    color: $black;
    background: $yellow;
}

////////////////////
// Header
////////////////////

header {
    position: absolute;
    width: 100%;
    z-index: 2;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 6% 20px;
    }

    nav {
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        li {
            list-style: none;
            margin-left: 30px;

            a:not(.btn) {
                display: block;
                color: white;
                padding: 8px 0;
                font-size: 18px;
                border-bottom: 2px solid rgba(255,255,255,0);

                &:hover,
                &:focus {
                    border-bottom: 2px solid white;
                }
            }


            &.navCTA {
                margin-left: 35px;
            }
        }

        .btn {
            margin-top: 0;
            padding: 8px 20px;
            font-size: 18px;
        }
    }
}

a.headerLogo {
    display: block;
    max-width: 175px;
}

button.mobileTrigger {
    display: none;
    position: fixed;
    right: 8%;
    top: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background: $lightBlue;
    outline: none;
    z-index: 5;

    span {
        position: absolute;
        height: 2px;
        width: 30px;
        background: white;
        left: 0;
        right: 0;
        margin: auto;
        transition: $transition;

        &:nth-child(1) {
            top: 15px;
        }

        &:nth-child(2) {
            top: calc(50% - 1px);
        }

        &:nth-child(3) {
            bottom: 15px;
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: calc(50% - 1px);
            }

            &:nth-child(2) {
                width: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
                bottom: auto;
            }
        }
    }
}

////////////////////
// Banner
////////////////////

.banner {
    position: relative;
    background: $blueGradient;

    > img {
        position: absolute;
        width: 100%;
        max-width: 1500px;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
    }

    .container {
        position: relative;
        padding-top: calc(6% + 150px);
    }

    h1, h2 {
        width: 55%;
        color: white;
    }
    
    h1 {
        max-width: 600px;
        font-size: 50px;
        padding-bottom: 20px;
    }

    h2 {
        max-width: 550px;
        font-family: $fontMain;
        font-weight: 400;
        font-size: 24px;
    }
}

.bannerPhone {
    position: absolute;
    max-width: 250px;
    right: 15%;
    bottom: -100px;
}

////////////////////
// How It Works
////////////////////

.howItWorks {
    margin-top: 6%;

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }
}

.stepsGroup {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

p.stepNumber {
    display: inline-block;
    font-family: $fontTitle;
    color: $lightBlue;
    font-size: 30px;
    margin-bottom: 10px;
    border: 1px solid $lightBlue;
    line-height: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.step {
    width: 30%;
    margin-top: 50px;

    h3 {
        font-family: $fontMain;
        margin-bottom: 10px;
        font-size: 24px;
    }
}

////////////////////
// Two Column
////////////////////

.textRight,
.titleLeft {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .imgWrapper,
    .title,
    .contentWrapper {
        width: 45%;
    }

    .imgWrapper {
        text-align: center;
    }

    img {
        max-width: 400px;
    }

    h2 {
        margin-bottom: 40px;
    }

    p {
        padding: 10px 0;
    }
}

.titleLeft {
    .container {
        align-items: flex-start;
    }

    .title {
        text-align: right;
    }
}

////////////////////
// Features
////////////////////

.featuresGroup {
    .container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }
}

.feature {
    width: calc(100% / 3 - 80px);
    margin: 40px;
    text-align: center;

    .icon {
        height: 50px;
        width: auto;
    }

    h3 {
        font-family: $fontMain;
        font-weight: 600;
        margin: 20px 0 10px;
        font-size: 24px;
    }
}

////////////////////
// Blue Banner
////////////////////

.blueBanner {
    background: $blueGradient;
    
    .container {
        max-width: 700px;
        text-align: center;
    }

    h2 {
        color: white;
        font-size: 40px;
    }
}

////////////////////
// Testimonials
////////////////////

.testimonials {
    h2 {
        text-align: center;
    }
}

.testsGroup {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 100px;
}

.test {
    position: relative;
    box-shadow: $boxShadow;
    background: white;
    text-align: center;
    padding: 80px 40px 40px;
    width: calc(100% / 3 - 40px);
    margin: 20px;

    img {
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        margin: auto;
    }

    h3 {
        font-family: $fontMain;
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
    }
}

////////////////////
// CTA Banner
////////////////////

.ctaBanner {
    .wrapper {
        background: $blueGradient;
        text-align: center;
        padding: 6%;
        border-radius: 5px;
        max-width: 1000px;
        margin: auto;
    }

    h2 {
        color: white;
    }
}

////////////////////
// FAQs
////////////////////

.faqs {
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }
}

.faqGroup {
    h3 {
        font-family: $fontMain;
        font-size: 26px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.faqSingle {
    padding: 5px 2%;
    transition: $transition;

    button {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        background: transparent;
        border: 0;
        outline: 0;

        h4 {
            font-family: $fontMain;
            font-size: 20px;
            text-align: left;
            width: 80%;
        }

        .fa {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 28px;
            background: $yellow;
            color: white;
            transition: $transition;
        }
    }

    &.active {
        padding: 20px 2%;
        margin: 20px 0;
        box-shadow: $boxShadow;

        button .fa {
            transform: rotate(180deg);
        }
    }
}

.faqBlock {
    display: none;
    padding: 2% 8% 2% 4%;
}

////////////////////
// Footer
////////////////////

footer {
    position: relative;
    background: rgba(0, 206, 209, .25);

    img.footerBG {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        padding-bottom: 0;
    }

    img.footerLogo {
        width: 125px;
    }

    .socialGroup {
        text-align: right;

        a {
            display: inline-block;
            color: inherit;
            margin: 5px;

            &:hover,
            &:focus {
                color: $darkBlue;
            }
        }
    }

    .copyright {
        padding: 20px;
        text-align: center;
        
        p {
            font-size: 14px;
        }

        a {
            color: inherit;
        }
    }
}

////////////////////
// Media Queries
////////////////////

@media screen and (max-width: 950px) {
    header {
        nav {
            li {
                margin-left: 20px;

                a:not(.btn){
                    font-size: 16px;
                }

                &.navCTA {
                    margin-left: 20px;
                }
            }
        }
    }

    a.headerLogo {
        max-width: 150px;
    }

    .bannerPhone {
        bottom: 50px;
        max-width: 200px;
        right: 8%;
    }

    .textRight {
        img {
            max-width: 300px;
        }
    }

    .feature {
        width: calc(50% - 80px);
    }

    .testsGroup {
        display: block;
    }

    .test {
        width: 100%;
        margin: 20px 0;

        &:not(:nth-child(1)){
            margin-top: 80px;
        }
    }
}

@media screen and (max-width: 767px){
    .container {
        padding: 10% 6%;
    }
    
    h2 {
        font-size: 34px;
    }

    button.mobileTrigger {
        display: block;
    }

    header nav {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background: rgba(0,206,209,0.95);
        visibility: hidden;
        opacity: 0;
        transition: $transition;

        ul {
            display: block;
        }

        li {
            display: block;
            text-align: center;
            margin: 10px 0;

            a:not(.btn) {
                font-size: 30px;
                border-bottom: 0;

                &:hover,
                &:focus {
                    border-bottom: 0;
                }
            }

            &.navCTA {
                margin: 10px 0;
            }
        }

        .btn {
            padding: 8px 40px;
            font-size: 24px;
            margin-top: 10px;
        }
    }

    header.menuActive {
        nav {
            visibility: visible;
            opacity: 1;
        }

        button.mobileTrigger {
            background: transparent;
        }
    }

    .bannerPhone {
        display: none;
    }

    .banner {
        .container {
            padding-top: calc(6% + 125px);
            padding-bottom: 16%;
            text-align: center;
        }

        h1,
        h2 {
            width: 100%;
        }

        h1 {
            font-size: 44px;
        }

        h2 {
            font-size: 22px;
        }
    }

    .stepsGroup {
        display: block;
    }

    .step {
        width: 100%;
        text-align: center;
    }
    
    .textRight,
    .titleLeft {
        .container {
            display: block;
        }

        .imgWrapper,
        .title {
            width: 100%;
        }

        .title {
            text-align: center;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        img {
            display: block;
            margin: auto;
            width: 100%;
        }

        .contentWrapper {
            width: 100%;
            margin-top: 30px;
        }
    }

    .feature {
        width: 100%;
        margin: 20px 0;
    }

    .blueBanner {
        .container {
            padding: 15% 6%;
        }

        h2 {
            font-size: 36px;
        }
    }

    .faqGroup {
        h3 {
            margin-bottom: 10px;
        }
    }

    .faqSingle {
        padding: 10px 0;
    }

    .faqSingle:not(:last-child) {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
}